.card {
  border: 1px solid black;
  width: 250px;
  height: 350px;

  display: flex;
  flex-direction: column;
  background-color: #Fddfdf;
  border-radius: 10px;
}

.card__title {
  margin-left: auto;
  margin-right: auto;
  border-color: none;
  background-color: #Fddfdf;
  text-transform: uppercase;
}

.card__title > h3 {
  color: white;
  background-color: #Fddfdf;
}

.card__body {
  background-color: #Fddfdf;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;

}
.card__body > img{
  border-color: none;
  background-color:#faf1f1;
  border-radius: 80px;
}

.card__stats {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-color: none;
  background-color: #Fddfdf;
}

.card__stats__type {
  color: rgb(0, 0, 0);
  font-weight: bold;

  background-color: coral;
  border-radius: 5px;

  padding: 5px;
  margin-right: 4px;
  text-transform: capitalize;
}

.card__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.busca {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.busca > input {
  width: 220px;
  margin-top: 2px;
  border: none;
  outline: none;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
  position: relative;
  bottom: 14px;
  border-radius: 22px;
  box-sizing: border-box;
  padding: 0 18px;
background-color:beige;}
.busca > p {
  margin-bottom: 25px;
}
